html {
  font-size: 1px;
}

body {
  font-size: 12rem;
  line-height: 20rem;
  font-weight: 400;
  word-break: break-word;
  font-family: 'Inter', sans-serif;
  // font-family: 'Noto Sans JP', sans-serif;
  color: white;
  margin: 0;
  font-weight: 400;
  p {
    font-size: 12rem;
    line-height: 20rem;
    word-break: break-word;
    margin-bottom: 0;
    font-weight: 400;
  }
}
* {
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

button {
  &:hover:enabled {
    cursor: pointer;
  }
  &:disabled {
    pointer-events: none;
  }
  &.noStyle {
    background-color: transparent;
    border: 0;
    padding: 0;
  }
}

ul {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.ar-scrollBar {
  overflow: hidden;
  overflow-y: auto;
  &::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: transparent;
  }
  &::-webkit-scrollbar {
    width: 6rem;
    height: 6rem;
    background-color: rgba(135, 135, 135, 0.5);
    opacity: 0.5;
    border-radius: 4rem;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4rem;
    background-color: #ffcc21;
    opacity: 0.5;
  }
}
